* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.list-of-product-container {
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    height: 300px;
    padding-top: 50px;
    margin: 0 auto;
}

.edit-product-container {
    margin: 30px 200px 0px 200px;
    background-color: #ffff;
    border-radius: 10px;
    height: 300px;
}

.label-of-product {
    width: 50%;
}

.label-of-product label {
    display: block;
    margin-bottom: 10px;
    margin-left: 250px;
}

.input-of-product {
    width: 50%;
}

.input-of-product input[type="text"] {
    display: block;
    margin-bottom: 10px;
}

.input-type-radio {
    display: block;
    margin-bottom: 10px;
}
.button-container {
    margin-left: 300px;
    margin-top: 20px
}
.button-container input {
    width: 50px;

}
#products-table {
    width: 100%;
    height: 90%;
    border-collapse: collapse;  /*viền k có khoảng trống mà nối liền vs nhau*/
    overflow-y: auto;           /*thanh cuộn*/
    display: block;
    max-height: 400px; /* Thay đổi chiều cao tối đa cho phù hợp */
}
#products-table th, #products-table td {
    padding: 8px;
    border: 1px solid #ddd;
}
#products-table th {
    background-color: #f2f2f2;
    position: sticky; /*vị trí cố định khi cuộn trang (khi cuộn thì cái hàng tiêu đề vẫn đứng đó)*/
    top: 0;
}

.list-of-product-container {
    width: 100%;
    overflow-x: auto;
}

