* {
    margin: 0;
    padding: 0;
}

.side-bar {
    position: fixed;
    margin-top: 80px;
    height: 100%;
    overflow: auto;
    font-family: Arial;
    min-width: 250px;
    background-color: #F5F5F5;
    padding-top: 20px;
}

.side-bar a {
    display: block;
    color: #000000;
    padding: 16px;
    text-decoration: none;
}

.side-bar a:hover{
    background-color: #555;
    color: white;
}