
.product{
    height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-left: 129px;
    margin-right: 129px;
    margin-top: 50px;
}
.img-max{
    position: relative;
    display: inline-block;
    margin-left: -12px;
    width:630px;
    height: 510px;
    align-items: center;
    text-align: center;
}
.buy h1{
    margin-top: 0px;
}
.buy p{
    font-size: 24px;
}
.collection{
    color: #40E0D0;
}
.price{
    color: #a60101;
    font-weight: 700;
}
.img-max img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 35px;
}
.buy{
    width: 500px;
}

.addToCart-button{
    color: white;
    height: 50px;
    width: 500px;
    background-color: burlywood;
    margin-bottom: 18px;
    border-color: transparent;
}

.addToCart-button:hover{
    border-color: burlywood;
    border-style: solid;
    background-color: transparent;
    color: burlywood;
}


